<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/st.css">
<!-- <link rel="stylesheet" href="/stylesheets/navbar.css"> -->

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <h5 class="card-header text-light bg-success">Transaction history</h5>
            <div class="card-body">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Account holder</th>
                          <th scope="col">Account number</th>
                          <th scope="col">Available balnace</th>
                      </tr>
                  </thead>
                <tbody>
                  <tr>
                    <td><%= account.name %></td>
                    <td><%= account.accountNumber %></td>
                    <td>&#x20B9; <%= account.balance %> /-</td>
                  </tr>
                </tbody>
              </table>
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">From/To</th>
                          <th scope="col">Sent</th>
                          <th scope="col">Recieved</th>
                          <th scope="col">Baln.</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% account.transactions.forEach((trans, i) => { %> 
                        <tr>
                            <th scope="row"><%= i+1 %></th>
                            <td><%= trans.sender ? trans.sender : trans.reciever %></td>
                            <td><%= trans.sender ? '-' : trans.amount %></td>
                            <td><%= trans.sender ? trans.amount : '-' %></td>
                            <td><%= trans.avlBaln %></td>
                        </tr>
                      <% }) %> 
                  </tbody>
              </table>
              <% if(account.transactions.length<1) { %> 
               <p class="text-muted text-center h5 mb-3">No transactions history</p>
              <% } %> 
              
              <div class="text-center mb-3">
               <a href="/accounts/<%= account._id %>" class="btn btn-danger">View account</a>
              </div>
            </div>
        </div>
    </div>
</div>
