<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/st.css">
<!-- <link rel="stylesheet" href="/stylesheets/navbar.css"> -->

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <h5 class="card-header text-light bg-success">Transfer Money</h5>
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="row">Account holder</th>
                    <td><%= account.name %></td>
                  </tr>
                  <tr>
                    <th class="row">Account number</th>
                    <td><%= account.accountNumber %></td>
                  </tr>
                  <tr>
                    <th class="row">Email</th>
                    <td><%= account.email %></td>
                  </tr>
                  <tr>
                    <th class="row">Available balnce</th>
                    <td>&#x20B9; <%= account.balance %> /-</td>
                  </tr>
                </tbody>
              </table>
              <form class="row g-3 validated-form" action="/accounts/<%= account._id %>" method="POST"  novalidate>
                 <div class="col-md-6">
                   <label for="amount" class="form-label">Amount</label>
                   <div class="input-group mb-3">
                     <span class="input-group-text">$</span>
                     <input type="number" class="form-control" name="sentAmt" id="amount" max="<%= account.balance %>" min="1" required>
                     <div class="invalid-feedback">No sufficient balance</div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <label for="benificiary" class="form-label">Send to</label>
                   <select class="form-select"  class="form-control" name="benificiaryId" id="benificiary" required>
                    <option selected disabled value="">Select benificiary</option>
                    <% for(let acc of allAccounts){ %> 
                        <option value="<%= acc._id %>"><%= acc.name %></option>
                    <% } %> 
                  </select>
                  <div class="invalid-feedback">Benificiary required</div>
                 </div>
                 <div class="col-md-12 text-center">
                     <button class="btn btn-success">Send</button>
                     <a href="/accounts/<%= account._id %>" class="btn btn-warning">Cancel</a>
                 </div>
              </form>
            </div>
        </div>
    </div>
</div>
